@model PagedList.IPagedList<KappaCreations.Models.Product>
@using PagedList.Mvc;
@using KappaCreations.Models.Shop.DTOs
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div id="page">
    <section class="image-head-wrapper">
        <div class="container">
            <div class="inner-wrapper">
                <h1><span>G</span>allery</h1>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>

    <section class="pro-gallery-block section-padding-small">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="text-head">
                        <h2>Gallery</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Dropdown Menu-->
    <br />
    <div class="container" id="galleryCont">
        <select id="galleryDropDown">
            <option value="value">Popularity (Ascending)</option>
            <option value="value">Popularity (Descending)</option>
            <option value="value">Newest to oldest</option>
            <option value="value">Oldest to newest</option>
        </select>
        <!-- Products-->
        @foreach (var product in ViewBag.GalleryProducts)
        {

            <div class="column">
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <div>
                                @{string id = "canvas" + product.Id;}
                                @{var data = @Html.Raw(Json.Encode(ProductDTO.MapToCamelCase(product)));}
                                <canvas id="@id" onmouseover='fillCanvas(this.id, @data)'></canvas>
                            </div>
                            <ul class="social">
                                <li><a href="@Url.Action("Details","Gallery", new { product.Id })" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                @*<li><a href="#" data-tip="Vote Design"><i class="fa fa-heart" id="voteHeart" onclick="toggle(@product.Id, @ViewBag.LoggedUser, @product.HasUserUpvoted(ViewBag.LoggedUser))"></i></a></li>*@
                                @if (@product.UsersUpvoted.Contains(@ViewBag.LoggedUser))
                                {
                                    <li><a href="#" data-tip="Voted this Design"><i class="fa fa-check" id="voteHeart" onclick="PatchVoteAsync(@product.Id, @ViewBag.LoggedUser)"></i></a></li>
                                }
                                else
                                {
                                    <li><a href="#" data-tip="Vote Design"><i class="fa fa-heart"></i></a></li>
                                }
                            </ul>
                        </div>
                        <div class="product-content">
                            <h3 class="title">@product.Category</h3>
                            <span>By @product.Designer.UserName</span>
                            <br />
                            <span>@product.Upvotes votes</span>
                            <div class="price">
                                €@product.Category.Price
                            </div>
                            <a class="add-to-cart" href="@Url.Action("Buy","ShoppingCart",new {id=product.Id})">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr>
    <div style="text-align:center; font-family:serif;">
        Page @(Model.PageCount<Model.PageNumber?1:Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", "Gallery", new { page }))
    </div>
</div>
<br />

@*<script>
        var heart = $("#voteHeart");
        function toggle(id, user, hasLiked) {
            $.ajax({
                method: "PATCH",
                url: "api/product/vote",
                data: new { id: id, user: user, downvote: hasLiked }
            })
                .done(function (downvote) {
                    if (!downvote) {
                        event.preventDefault();
                        heart.class = "fa fa-check";
                    }
                });

        }

    </script>*@

@Scripts.Render("~/probeautyfly/js/Product.js")
