@model PagedList.IPagedList<KappaCreations.Models.Product>
        @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <div id="page">
        <!---header top---->
        <!--header--->
        <!--end-->

        <section class="image-head-wrapper">
            <div class="container">
                <div class="inner-wrapper">
                    <h1><span>G</span>allery</h1>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- Change -->
        <section class="pro-gallery-block section-padding-small">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="text-head">
                            <h2>Gallery</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Dropdown Menu-->
        <br />
        <div class="container" id="galleryCont">
            <select id="galleryDropDown">
                <option value="value">Popularity (Ascending)</option>
                <option value="value">Popularity (Descending)</option>
                <option value="value">Newest to oldest</option>
                <option value="value">Oldest to newest</option>
            </select>
            <!-- Products-->
            @foreach (var product in ViewBag.GalleryProducts){

            <div class="column">
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <div>
                                <img class="pic-1" src="~/probeautyfly/images/mycat.png" /><!--Design pic-->
                                <img class="pic-2" src="~/probeautyfly/images/i_like_cats_more_than_people_3.png"><!--BackDesign pic-->
                            </div>
                            <ul class="social">
                                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#" data-tip="Vote Design"><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product-content">
                            <h3 class="title">@product.Category</h3>
                            <span>By @product.DesignerId</span><!--.Username?-->
                            <br/>
                            <span>@product.Upvotes votes</span>
                            <div class="price">
                                €@product.Category.Price
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <hr>
        <p style="text-align:center; font-family:serif;">
            <span>
                Page @(Model.PageCount<Model.PageNumber?1:Model.PageNumber) of @Model.PageCount
            </span>
            <span>
                @Html.PagedListPager(Model,page=>Url.Action("Index", "Gallery", new {page}))
            </span>
           
        </p>
    </div>
<br />
<div>
    <canvas id="canvas" width="500" height="500"></canvas>
</div>




@Scripts.Render("~/probeautyfly/js/Product.js")