@model PagedList.IPagedList<KappaCreations.Models.Product>
@using PagedList.Mvc;
@using KappaCreations.Models.Shop.DTOs


<link href="~/Content/PagedList.css" rel="stylesheet" />

<div id="page">
    <section class="image-head-wrapper">
        <div class="container">
            <div class="inner-wrapper">
                <h1><span>G</span>allery</h1>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>

    <section class="pro-gallery-block section-padding-small">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="text-head">
                        <h2>Gallery</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Sort by-->
    <div class="container" id="galleryCont">
        <br />
        <div id="gallerySort" style="margin-block:7px;">
            <span>Sort by: </span>
            <input type="button" value="Price (ascending)" onclick="location.href='@Url.Action("Index", "Gallery", new {categoryId=ViewBag.CategoryID,order = 1})'" />
            <input type="button" value="Price (descending)" onclick="location.href='@Url.Action("Index", "Gallery", new {categoryId=ViewBag.CategoryID,order = 2})'" />
            <input type="button" value="Oldest to newest" onclick="location.href='@Url.Action("Index", "Gallery", new {categoryId=ViewBag.CategoryID,order = 3})'" />
            <input type="button" value="Newest to oldest" onclick="location.href='@Url.Action("Index", "Gallery", new {categoryId=ViewBag.CategoryID,order = 4})'" />
        </div>
        <br />
        <!-- Products-->
        <script src="~/probeautyfly/js/Product.js"></script>
        @foreach (var product in ViewBag.GalleryProducts)
        {
            <div class="column">
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <div>
                                @{string id = "canvas" + product.Id;}
                                @{var data = @Html.Raw(Json.Encode(ProductDTO.MapToCamelCase(product)));}
                                <canvas id="@id"></canvas>
                                <script>fillCanvas(@id, @data)</script>
                            </div>
                            <ul class="social">
                                <li><a href="@Url.Action("Details","Gallery", new { product.Id })" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="product-content">
                            <h3 class="title">@product.Category</h3>
                            <span>By @product.Designer.UserName</span>
                            <br />
                            <div class="price">
                                €@product.Category.Price
                            </div>
                            <a class="add-to-cart" href="@Url.Action("Buy","ShoppingCart",new {id=@product.Id})">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr>
    <div style="text-align:center; font-family:serif;">
        Page @(Model.PageCount<Model.PageNumber?1:Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", "Gallery", new { page }))
    </div>
</div>
<br />
