@model KappaCreations.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="profile-container">
    <div class="profile-block tabs">
        <div class="profile-menu tabs__menu">
            <div class="profile-title">MY ACCOUNT</div>
            <a class="tabs__button tabs__button--active" href="#" data-for-tab="1">Dashboard</a>
            <a class="tabs__button" href="#" data-for-tab="2">Orders</a>
            <a class="tabs__button" href="#" data-for-tab="3">Addresses</a>
            <a class="tabs__button" href="#" data-for-tab="4">Account details</a>
            <a class="tabs__button" href="#" data-for-tab="5">Wishlist</a>
            @*<a class="tabs__button" href="#" data-for-tab="6">Logout</a>*@
           <a id="logout" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
        <div class="profile-body tabs__content-container">
            <div class="tabs__content tabs__content--active" data-tab="1">
                <p>Hello <strong> @Model.UserName</strong></p>
                <p>From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and <a href="#">edit your password and account details</a>.</p>

                <div class="profile-content-template">
                    <a href="#" class="profile-content-block tabs__icon" data-for-tab="2">
                        <div class="profile-content-block-icon">
                            <img src="~/probeautyfly/images/userProfileImg/orders.svg" />
                        </div>
                        <div class="profile-content-block-icon">ORDERS</div>
                    </a>
                    <a href="#" class="profile-content-block tabs__icon" data-for-tab="3">
                        <div class="profile-content-block-icon">
                            <img src="~/probeautyfly/images/userProfileImg/address.svg" alt="address" />
                        </div>
                        <div class="profile-content-block-icon">ADDRESSES</div>
                    </a>
                    <a href="#" class="profile-content-block tabs__icon" data-for-tab="4">
                        <div class="profile-content-block-icon">
                            <img src="~/probeautyfly/images/userProfileImg/account.svg" />
                        </div>
                        <div class="profile-content-block-icon">ACCOUNT DETAILS</div>
                    </a>
                    <a href="#" class="profile-content-block tabs__icon" data-for-tab="5">
                        <div class="profile-content-block-icon">
                            <img src="~/probeautyfly/images/userProfileImg/wishlist.svg" />
                        </div>
                        <div class="profile-content-block-icon">WISHLIST</div>
                    </a>
                    <a href="#" class="profile-content-block">
                        <div class="profile-content-block-icon">
                            <img src="~/probeautyfly/images/userProfileImg/logout.svg" />
                        </div>
                        <div class="profile-content-block-icon">LOGOUT</div>
                    </a>
                </div>
            </div>
            <div class="tabs__content" data-tab="2">
                <div class="profile-orders">
                    <div class="profile-orders-link">
                        <img src="~/probeautyfly/images/userProfileImg/exclamation.svg" /><a href="#">BROWSE PRODUCTS</a>
                    </div>
                    No order has been made yet.
                </div>
            </div>
            <div class="tabs__content" data-tab="3">
                <p>The following addresses will be used on the checkout page by default.</p>
                <div class="profile-address">
                    <div class="profile-address-block">
                        <div class="profile-address-block-title">BILLING ADDRESS <span>Add</span></div>
                        <p>You have not set up this type of address yet.</p>
                    </div>
                    <div class="profile-address-block">
                        <div class="profile-address-block-title"> <span></span></div>
                        <p> </p>
                    </div>
                </div>

                <div class="profile-form">
                    <div class="profile-title">BILLING ADDRESS</div>

                    <div class="profile-form-group-container">
                        <div class="profile-form-group-coontainer">
                            <div class="profile-form-group">
                                <label>First name *</label>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "Give Your First Name (Only Letters)" } })
                            </div>
                            <div class="profile-form-group">
                                <label>Last name *</label>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "Give Your Last Name (Only Letters)" } })
                            </div>
                        </div>
                        <div class="profile-form-group-coontainer">
                            <div class="profile-form-group">
                                <label>City *</label>
                                @Html.EditorFor(model => model.BillingAddress.City, new { htmlAttributes = new { placeholder = "Give Your City" } })
                            </div>
                        </div>
                        <div class="profile-form-group-coontainer">
                            <div class="profile-form-group">
                                <label>Street address *</label>
                                @Html.EditorFor(model => model.BillingAddress.Address, new { htmlAttributes = new { placeholder = "Give Your Home Address" } })
                            </div>
                        </div>
                        <div class="profile-form-group-coontainer">
                            <div class="profile-form-group">
                                <label>Postcode / ZIP *</label>
                                @Html.EditorFor(model => model.BillingAddress.Zip, new { htmlAttributes = new { placeholder = "Give Your Zip Code" } })
                            </div>
                        </div>
                        <div class="profile-form-group-coontainer">
                            <div class="profile-form-group">
                                <label>Phone *</label>
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { placeholder = "Give Your Phone Number" } })
                            </div>

                            <div class="profile-form-group">
                                <label>Email address *</label>
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { placeholder = "Give Your Email" } })
                            </div>
                        </div>

                        <div><a href="#" class="profile-content-button">Save address</a></div>
                    </div>
                </div>
            </div>
            <div class="tabs__content" data-tab="4">
                <div class="profile-form">
                    <div class="profile-form-group-container">
                        <div class="profile-form-group-coontainer">
                            <div class="profile-form-group">
                                <label>First name *</label>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "Give Your First Name (Only Letters)" } })
                            </div>

                            <div class="profile-form-group">
                                <label>Last name *</label>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "Give Your Last Name (Only Letters)" } })
                            </div>
                        </div>
                        <div class="profile-form-group-coontainer">
                            <div class="profile-form-group">
                                <label>Display name *</label>
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { placeholder = "Give Your Display Name (Only Letters)" } })
                            </div>
                        </div>
                        <div class="profile-form-group-coontainer">
                            <div class="profile-form-group">
                                <label>Email address *</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Give Your Email Address (Only Letters)" } })
                            </div>
                        </div>
                        <div><a href="#" class="profile-content-button">Save changes</a></div>
                    </div>
                </div>
            </div>
            <div class="tabs__content" data-tab="5">
                <div class="profile-title">YOUR PRODUCTS WISHLIST</div>
                <div class="profile-content-text">
                    <img src="~/probeautyfly/images/userProfileImg/wishlist.svg" />
                    <p class="lg">Wishlist is empty.</p>
                    <p>You don't have any products in the wishlist yet.</p>
                    <p>You will find a lot of interesting products on our "Shop" page.</p>
                    <a class="profile-content-button" href=@Url.Action("Index","Home")>Return to shop</a>
                </div>
            </div>
            <div class="tabs__content" data-tab="6">Ok</div>
        </div>
    </div>
</div>
