@using KappaCreations.Identity
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<body class="cbp-spmenu-push">
    <div id="page">

        <section class="image-head-wrapper">
            <div class="container">
                <div class="inner-wrapper">
                    <h1><span>A</span>bout Us</h1>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>

        <section class="what-we-do-block section-padding-small">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="text-head-front">
                            <h2>Welcome to our shop</h2>
                        </div>
                    </div>
                </div>
                <div class="row offspace-90">
                    <div class="col-md-6 col-sm-12 col-xs-12 welcome-image">
                        <img alt="image" class="img-responsive" src="~/probeautyfly/images/colTShirts.png" />
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <p class="desc-text"> Kappa Creations is established by 5 individuals from Athens, Greece, who wanted to express themselves and help others be creative. As our surnames happen to start with the letter K, we decided to name our company <i>Kappa Creations</i>. </p>
                        <p class="desc-text">Although you can just visit our website and find some stylish merchandise (clothes, pillows, mugs, posters etc), you can also create your own designs, upload them and print them on a product. You can also vote for designs you like and leave comments!</p>
                        <p class="desc-text">Welcome to our shop and have fun!!!</p>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </section>

        <!-- Modal -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-margin-top">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title text-center">Welcome Back</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="rect">
                                    <section id="loginForm">
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <h4>Use a local account to log in.</h4>
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.RememberMe)
                                                        @Html.LabelFor(m => m.RememberMe)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Log in" class="btn btn-default" />
                                                </div>
                                            </div>
                                            <p>
                                                @Html.ActionLink("Register as a new user", "Register", "Account")
                                            </p>
                                            <p>
                                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                            </p>
                                        }
                                    </section>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="content">
                                    <div class="subtitle">
                                        <div>
                                            <h2>...or login with:</h2>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <a class="sign-btn sign-btn-facebook" href="#"><span class="fa fa-facebook"></span>Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>