<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 width-50 width-set-50">
                <div class="footer-details">
                    <h4>quick links</h4>
                    <ul class="list-unstyled footer-links">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Create", "Create", "Home")</li>
                        <li>@Html.ActionLink("Gallery", "Index", "Gallery")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 width-50 width-set-50">
                <div class="footer-details">
                    <h4>Top categories</h4>
                    <ul class="list-unstyled footer-links">
                        <li><a href="#">T-Shirts</a></li>
                        <li><a href="#">Hoodies</a></li>
                        <li><a href="#">Mugs</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 width-set-50">
                <div class="footer-details">
                    <h4>working hours</h4>
                    <ul class="list-unstyled time-schedule-list">
                        <li><span>Mon : 09:00 - 15:00</span></li>
                        <li><span>tue : 09:00 - 21:00</span></li>
                        <li><span>wed : 09:00 - 15:00</span></li>
                        <li><span>thu : 09:00 - 21:00</span></li>
                        <li><span>fri : 09:00 - 21:00</span></li>
                        <li><span>sat : 09:00 - 15:00</span></li>

                        <li class="change-col"><span>Sun : Closed</span></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 insta-block width-set-50">
                <div class="footer-details">
                    <h4>contact us</h4>
                    <ul class="list-unstyled footer-contact-list">
                        <li>
                            <i class="fa fa-location-arrow fa-lg"></i>
                            <p>Address: 10, Ardittou St., Athens, Greece</p>
                        </li>
                        <li>
                            <i class="fa fa-phone fa-lg"></i>
                            <p><a href="tel:+30 210 9211111"> Tel.: +30 210 9211111</a></p>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-lg"></i>
                            <p><a href="mailto:kappa@info.com">E-mail:kappa@info.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright">
            <!--Do not remove Backlink from footer of the template. To remove it you can purchase the Backlink !-->
            &copy; 2017 All right reserved. Designed by <a href="http://www.themevault.net/" target="_blank">ThemeVault.</a>
        </div>
        <!--back to top--->
        <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
            <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
            <span>Top</span>
        </a>
    </div>
</footer>


