@using KappaCreations.Identity
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<!---header top---->
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-10 col-xs-12">
                <div class="info-block">
                    <ul>
                        <li><p><i class="fa fa-location-arrow fa-lg"></i>Address: 10, Ardittou St., Athens</p></li>
                        <li><i class="fa fa-phone fa-lg"></i> <a href="tel:+30 210 9211111"> Telephone: +30 210 9211111 </a></li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:kappa@info.com"> E-mail: kappa@info.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="login-block">
                    <a data-toggle="modal" id="mmm" data-dismiss="modal" data-target="#myModal" href="#">
                        <img src="~/probeautyfly/images/icons/login.png" alt="login"><span>Login</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-6">
                <div class="social-grid">
                    <ul class="list-unstyled text-right">
                        <li><a><i class="fa fa-facebook"></i></a></li>
                        <li><a><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-margin-top">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Welcome Back</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="rect">
                            <section id="loginForm">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h4>Use a local account to log in.</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Log in" class="btn btn-default" />
                                        </div>
                                    </div>
                                    <p>
                                        @Html.ActionLink("Register as a new user", "Register", "Account")
                                    </p>
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>
                                }
                            </section>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="content">
                            <div class="subtitle">
                                <div>
                                    <h2>...or login with:</h2>
                                </div>
                            </div>
                            <div class="text-center">
                                <a class="sign-btn sign-btn-facebook" href="#"><span class="fa fa-facebook"></span>Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--header--->
